@import "tailwindcss";

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Italic.ttf") format("truetype");
}

@theme {
  --color-background: #fbfbfb;
  --color-foreground: #191a15;
  --color-primary: #3470ff;
  --color-primary-hover: #255ee8;
  --color-primary-soft: rgba(52, 112, 255, 0.2);
  --color-secondary: #8a8a89;
  --color-secondary-background: #f3f3f3;
}

.dark {
  --color-background: #191a15;
  --color-foreground: #fbfbfb;
  --color-primary: #6c9dff;
  --color-primary-soft: rgba(108, 157, 255, 0.2);
}

body {
  font-family: "Inter", sans-serif;
}

.custom-gradient {
  background: linear-gradient(
    to right,
    var(--color-background),
    var(--color-background),
    rgba(108, 157, 255, 0.1)
  );
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

@layer utilities {
  .sheet-content {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .sheet-content[data-state="open"] {
    transform: translateY(0);
    opacity: 1;
    animation: slideInFromTop 0.3s ease-in-out;
  }

  .sheet-content[data-state="closed"] {
    transform: translateY(-100%);
    opacity: 0;
    animation: slideOutToTop 0.3s ease-in-out;
  }

  @keyframes slideInFromTop {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideOutToTop {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
}
