@import "tailwindcss";

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Italic.ttf") format("truetype");
}

@theme {
  --color-background: #fbfbfb;
  --color-foreground: #191a15;
  --color-primary: #3470ff;
  --color-primary-soft: rgba(52, 112, 255, 0.2);
}

.dark {
  --color-background: #191a15;
  --color-foreground: #fbfbfb;
  --color-primary: #6c9dff;
  --color-primary-soft: rgba(108, 157, 255, 0.2);
}

body {
  font-family: "Inter", sans-serif;
}
